name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint black pytest bandit
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Check Formatting (Black)
        run: black --check .

      - name: Lint Code (Pylint)
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pylint **/*.py --errors-only

      - name: Security Scan (Bandit)
        run: bandit -r . -ll

      - name: Run Tests
        env:
          AWS_DEFAULT_REGION: us-east-1
          AWS_ACCESS_KEY_ID: testing
          AWS_SECRET_ACCESS_KEY: testing
        run: |
          if [ -d "tests" ] || ls test_*.py 1> /dev/null 2>&1; then
            export PYTHONPATH=$PYTHONPATH:$(pwd)
            pytest
          else
            echo "No tests found, skipping..."
          fi
